.wrapMedia{
    color: white;
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    flex-direction: column;
    background-color: var(--bg-primary);
}

.wrapInputsMedia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4vh;
}

.inputMedia{
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
}

.inputMedia:focus{
    font-weight: 900;
    border: 2px solid #3560b0;
}
.cardMedia{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 400px;
    width: 200px;
}

.buttonMedia{  
    background-color: brown;
    border: none;
    border-radius: 20px;
    padding: 10px;
    opacity: 0.8;
    transition: all 200ms linear;
    font-size: 0.8rem;
    color: #ffff;
    font-weight: 900;
}

.buttonMedia:hover{
    transition: all 200ms linear;
    cursor: pointer;
    opacity: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
