.wrapMedia{
    color: white;
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    flex-direction: column;
    background-color: var(--bg-third);
}

.wrapInputsMedia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4vh;
}

.inputMedia{
    border: none;
    border-radius: 999;
    padding: 7px 10px;
}

.wrapEach{
    background-color: red;
}

