.wrapMedia{
    color: white;
    width: 100vw;
    padding-top: 10vh;
    flex-direction: column;
    background-color: var(--bg-primary);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 5vw;


}

.wrapInputsMedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
}

.inputMedia{
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
}

.inputMedia:focus{
    font-weight: 900;
    border: 2px solid #3560b0;
}
.cardMedia{
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 60vh;
    width: 20vw;
    background-color: white;
    color: black;
}

.buttonMedia{  
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    opacity: 0.8;
    transition: ease-in-out 0.2s;
    font-size: 0.8rem;
    color: black;
    font-weight: 900;
    width: 10vw;
    height: 5vh;
}

.buttonMedia:hover{
    transform: scale(1.1);
    cursor: pointer;
    opacity: 1;
    background-color: black;
    color: white;
}

h1{
    color: black;
}

.wrapInputsCalcular{
    display: flex;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.pMedia{
    width: 4vw;
    height: 4vh;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 20px;

}
